#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}
body::-webkit-scrollbar{
  display: none;
}
input{
  border-radius: 15px;
  padding: 13px 13px;
  margin: 0 10px;
}
img{
  border-radius: 50%;
  box-shadow: 7px 7px 30px rgb(199, 198, 198);
  margin: 20px 0;
}
.box{
  padding: 5vw 5vw;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.285);
  backdrop-filter: blur(8px) ;
  box-shadow: 0 0 30px rgb(149, 148, 148);
}
.datas{
  font-size: 20px;
  font-weight: 600;
}
.NAME{
  text-shadow: 3px 3px 15px rgb(202, 201, 201);
  font-size: 40px;
}
